.container {
    display: grid;
    width: 80vw;
    grid-template-columns:   75% 25%;
    grid-gap: 1em;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
  }
  header, footer {
    grid-column: 1 / 4;
  }
  footer{
    position:fixed;
    bottom: 0px;
    grid-row: 3;
  }
  /* header,
  aside,
  article,
  footer {
    background: #eaeaea;
    display: grid;
    place-content: center;
    height: 17vh;
  } */
  header,article,aside,footer{
    position: relative;
    top: 5px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  header,aside,footer{
    background-color: aliceblue;
  }
  header{
    font-size: 5vw;
    grid-row: 1;
  }
  article{
    flex-direction: column;
    margin: 0;
    grid-row: 2;
    padding: 0px;
  }
  aside{

    grid-row: 2;
  }
  @media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
    }
  }