.component{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-width: 20vw;
    min-height: 40vh;
    width: 30%;
    margin: 20px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component_specific{
    background-color: blueviolet;
    position: relative;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}