.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-link {
  color: #b95eee;
}
p{
  color: rgb(162, 66, 207);
  width: 25vw;
  background-color:rgb(221, 173, 83);
  border-radius: 10px;
  transition: 1s;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
p:hover{
  background-color: rgb(55, 245, 48);
  width: 30vw;
  height: 4vw;
}
@keyframes App-logo-spin {
  0% {
    width: 20vw;
    height: 20vw;
  }
  50% {
    width: 25vw;
    height: 25vw;
  }
}
#root{
  background-color: white;
  border-radius: 10%;
  padding: 5vw;
}
#routes{
  display: flex;
  margin-top: 50px;
}
.route{
  width: 10vw;
  height: 10vw;
  display: flex;
  background-color: rgb(99, 250, 250);
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 1s;
}
.route:hover{
  width: 13vw;
  height: 13vw;
  background-color: rgb(156, 245, 138);
}
#sun{
  position: absolute;
  left: 0;
  top: 0;
  animation: App-logo-spin infinite 10s linear;
}
 img{
  width: 10vw;
  
} 
#BigMushroom{
  border-radius: 50%;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  border: yellow 2px solid;
}
a{
  text-decoration: none;
}


