#first_example{
    background-color: rgb(94, 243, 119);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first_h1{
    display: inline-block;
    width: 100vw;
    color: rgb(166, 73, 241);
}
img{
    height: 40vmin;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}